.markdown-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  scroll-behavior: smooth;
}

.markdown-content figure {
  margin: 2rem 0;
  text-align: center;
}

.markdown-content img {
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.2s;
  width: 100%;
  max-width: 600px;
  object-fit: contain;
}

.markdown-content img:hover {
  transform: scale(1.01);
}

/* Estilos para el contenedor de código */
.markdown-content pre {
  margin: 1.5em 0;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.markdown-content pre > code {
  font-family: 'Fira Code', monospace;
  font-size: 0.9em;
  line-height: 1.5;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  scroll-margin-top: 120px;
  position: relative;
  scroll-padding-top: 120px;
}

/* Añadir esto para el enfoque suave */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

[data-heading] {
  scroll-margin-block-start: 120px;
  position: relative;
} 